html{
    min-width: 500px;
    min-height: 370px;
}
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    margin:0px;
    padding:0px;
}

.menu{
	display: flex;
    justify-content: space-around;
}

.menu a{
	display: block;
	width: 24%;
	background: #0b1e3d;
	border:1px solid white;
	color:white;
    font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    line-height: 60px;
    cursor: pointer;
}

.menu a:hover{
	background: #f2f2f2;
	border:1px solid #0b1e3d;
	color:#0b1e3d;
}

.menu a.active{
	background: white;
	border:1px solid #0b1e3d;
	color:#0b1e3d;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
    color: #35969a;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-size: 42px;
    font-weight: 300;
    line-height: 54px;
    text-align: center;
    margin-top: 0px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
}
.App{
    max-width: 500px;
    margin:0 auto;
}
img { max-width: 100%; }

 form {
    margin: 15px 0 0 0;
        border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

 form inputa {
    width: 95%;
    height: 52px;
    margin-bottom: 5px;
}

input {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
    font-size: 18px;
}

form button{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

form{
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0px;
    padding: 0px;
}

form button{
    margin-left:auto;
    margin-right:auto;
    background-color:#13a1eb;
}

ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
 
.repo-row-language{
    font-size: 12px;
    font-weight: bold;
}

.repo-row{
    padding:25px;
    border-bottom:1px solid #ddd;
    cursor:pointer;    
    display: flex;
    align-items: center;
}
.repo-row:hover{
    background:#ddd
}
.repo-row-image{
    max-height:75px;max-width:75px;
    border-radius: 50%;
}
.repo-row-name{
    color:#222;
    font-size:25px;
    font-weight:700;
}
.repo-row-login{
    color:#222;
    font-size:10px;
    font-weight:bold;
    text-align: center;
}

.repo-row-details{
    padding-left:10px;
}
.text-center{
    text-align: center;
}
